version: '3'

services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
    networks:
      - kafka-net
  kafka:
    image: ches/kafka
    networks:
      - kafka-net
    ports:
      - "9092:9092"
    environment:
      ZOOKEEPER_IP: zookeeper
    depends_on:
      - zookeeper

networks:
  kafka-net:
    driver: bridge
