version: '3'

services:
  logstash:
    build: .
    network_mode: host
    environment:
      KAFKA_HOST: localhost:9092
      GROUP_ID: test-123
      TOPIC: test-1
      ES_HOST: localhost
      ES_INDEX: logs
